@font-face {
    font-family: "Sans";
    src: url(./fonts/GoogleSans-regular.woff) format("woff2"), url(./fonts/GoogleSans-regular.woff) format("woff");
    font-weight: 400;
}

@font-face {
    font-family: "Sans";
    src: url(./fonts/GoogleSans-medium.woff2) format("woff2"), url(./fonts/GoogleSans-medium.woff) format("woff");
    font-weight: 500;
}

audio,
canvas,
img,
video {
    display: block;
}

html {
    line-height: 1;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
    font-size: inherit;
    line-height: 1;
    font-weight: inherit;
}

a {
    color: inherit;
    text-decoration: none;
}

a:focus {
    outline: 0;
}

menu,
ol,
p,
small,
ul {
    margin: 0;
    padding: 0;
}

menu,
ol,
ul {
    list-style: none;
}

blockquote,
q {
    margin: 0;
}

cite {
    font-style: inherit;
}

form {
    margin: 0;
}

fieldset {
    border: none;
    margin: 0;
    padding: 0;
}

pre {
    margin: 0;
}

.Highlight-keyword {
    font-weight: 700;
    color: #006cd1;
}

.Highlight-class {
    color: #b22222;
}

.Highlight-constant {
    color: #268bd2;
}

.Highlight-function,
.Highlight-method,
.lang-sql .Highlight-keyword {
    color: #3d556b;
}

.Highlight-boolean,
.Highlight-number {
    color: #6c71c4;
}

.Highlight-string {
    color: #49b882;
}

.Highlight-comment {
    color: #8fa1b3;
}

.Highlight-operator,
.Highlight-punctuation {
    color: #193652;
}

.Navigation {
    font-size: 16px;
    position: relative;
    margin-top: -4px;
    z-index: 10;
}

@media (max-width: 440px),
(min-width: 441px) and (max-width: 620px),
(min-width: 621px) and (max-width: 980px) {
    .Navigation {
        background-color: #fff;
    }
}

.Navigation-body {
    box-sizing: border-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    padding: 24px;
    margin: auto;
}

@media (max-width: 440px) {
    .Navigation-body {
        padding: 16px;
    }
}

.Navigation-logoSubTitle {
    color: #8fa1b3;
    margin-left: 2px;
}

@media (max-width: 440px),
(min-width: 441px) and (max-width: 620px) {
    .Navigation-logoSubTitle {
        font-family: Sans, Helvetica Neue, Helvetica, Arial, sans-serif;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
    }
}

@media (min-width: 621px) and (max-width: 980px),
(min-width: 981px) {
    .Navigation-logoSubTitle {
        font-family: Sans, Helvetica Neue, Helvetica, Arial, sans-serif;
        font-size: 18px;
        font-weight: 400;
        line-height: 30px;
        letter-spacing: -0.2px;
    }
}

@media (max-width: 440px) {
    .Navigation-logoSubTitle {
        font-family: Sans, Helvetica Neue, Helvetica, Arial, sans-serif;
        font-size: 14px;
        font-weight: 400;
        line-height: 24px;
    }
}

.Navigation-left,
.Navigation-middle,
.Navigation-right {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex: 1;
    flex: 1;
}

.Navigation-middle {
    -ms-flex-pack: center;
    justify-content: center;
}

.Navigation-right {
    -ms-flex-pack: end;
    justify-content: flex-end;
}

@media (max-width: 440px) {
    .Navigation-right .Link--primary {
        font-family: Sans, Helvetica Neue, Helvetica, Arial, sans-serif;
        font-size: 14px;
        font-weight: 400;
        line-height: 24px;
    }
}

.Navigation-logo {
    display: inline-block;
    position: relative;
    background-size: contain;
    text-indent: -9999px;
}

@media (max-width: 440px),
(min-width: 441px) and (max-width: 620px) {
    .Navigation-logo {
        width: 93px;
        height: 20px;
    }
}

@media (min-width: 621px) and (max-width: 980px),
(min-width: 981px) {
    .Navigation-logo {
        width: 111px;
        height: 24px;
    }
}

@media (max-width: 440px),
(min-width: 441px) and (max-width: 620px) {
    .Navigation-left .Navigation-logo {
        top: -2px;
    }
}

@media (min-width: 621px) and (max-width: 980px),
(min-width: 981px) {
    .Navigation-left .Navigation-logo {
        top: -5px;
    }
}

.Navigation-LinkList {
    display: none;
}

@media (max-width: 440px),
(min-width: 441px) and (max-width: 620px),
(min-width: 621px) and (max-width: 980px) {
    .NavigationLinks {
        position: absolute;
        width: 100%;
        left: 0;
        top: 72px;
        text-align: center;
        overflow: visible;
        border-bottom: 1px solid #dae4ed;
        background-color: #fff;
    }
}

@media (max-width: 440px) {
    .NavigationLinks {
        top: 54px;
    }
}

.NavigationLinks-link {
    color: #8fa1b3;
    padding-left: 8px;
    padding-right: 8px;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

.NavigationLinks-link.active {
    color: #3d556b;
}

@media (max-width: 440px),
(min-width: 441px) and (max-width: 620px),
(min-width: 621px) and (max-width: 980px) {
    .NavigationLinks-link {
        display: inline-block;
        padding: 8px 0;
        margin: 0 8px;
    }
    .NavigationLinks-link.active {
        box-shadow: 0 1px #8fa1b3;
    }
}

@media (min-width: 621px) and (max-width: 980px) {
    .NavigationLinks-link {
        padding: 12px 0;
    }
}

@media (min-width: 441px) and (max-width: 620px) {
    .NavigationLinks-link {
        font-family: Sans, Helvetica Neue, Helvetica, Arial, sans-serif;
        font-size: 14px;
        font-weight: 400;
        line-height: 24px;
    }
}

@media (max-width: 440px) {
    .NavigationLinks-link {
        font-family: Sans, Helvetica Neue, Helvetica, Arial, sans-serif;
        font-size: 14px;
        font-weight: 400;
        line-height: 24px;
        font-size: 12px;
        padding: 4px 0;
    }
}

@media (max-width: 440px),
(min-width: 441px) and (max-width: 620px) {
    .NavigationLinks-link:active {
        color: #3d556b;
    }
}

@media (max-width: 360px) {
    .NavigationLinks-link {
        font-size: 12px;
        margin: 0 4px;
    }
}

body,
html {
    font-family: Sans, Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: -0.2px;
    height: 100%;
    color: #3d556b;
    -webkit-font-smoothing: antialiased;
    margin: 0;
}

@media (max-width: 440px),
(min-width: 441px) and (max-width: 620px) {
    body,
    html {
        font-family: Sans, Helvetica Neue, Helvetica, Arial, sans-serif;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
    }
}

@media (min-width: 981px) {
    .OverviewPage {
        background-color: #fafbfc;
        margin-left: auto;
        margin-right: auto;
        max-width: 60rem;
    }
}

.AuthorPage-body {
    padding-bottom: 40px;
}

.Page-alignment {
    margin: 0 auto;
    max-width: 672px;
    position: relative;
    z-index: 2;
}

@media (max-width: 440px) {
    .Page-alignment {
        padding: 0 16px;
    }
}

@media (min-width: 441px) and (max-width: 620px) {
    .Page-alignment {
        padding: 0 24px;
    }
}

@media (min-width: 621px) and (max-width: 980px) {
    .Page-alignment {
        padding: 0 32px;
    }
}

@media (min-width: 981px) {
    .Page-alignment {
        padding: 0 40px;
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #193652;
}

.Authors {
    line-height: 24px;
    color: #8fa1b3;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
}

.Authors-group {
    margin-left: 4px;
}

@media (max-width: 440px) {
    .Authors-group {
        line-height: 18px;
    }
}

.Author-avatar {
    -ms-flex-negative: 0;
    flex-shrink: 0;
    border-radius: 50%;
    display: inline-block;
    margin: 0 4px 0 0;
    overflow: hidden;
    position: relative;
    height: 24px;
    width: 24px;
}

.AuthorHeader {
    text-align: center;
    padding-bottom: 80px;
    border-bottom: 1px solid #dae4ed;
}

@media (max-width: 440px),
(min-width: 441px) and (max-width: 620px),
(min-width: 621px) and (max-width: 980px) {
    .AuthorHeader {
        margin-top: 32px;
        padding-bottom: 48px;
    }
}

@media (min-width: 981px) {
    .AuthorHeader {
        border: none;
        padding-bottom: 0;
    }
}

.AuthorHeader h2 {
    margin-top: 16px;
    color: #8fa1b3;
}

.Author-avatar--standalone {
    margin: 0 auto;
    display: block;
    height: 48px;
    width: 48px;
}

.Author-avatarGif,
.Author-avatarPic {
    position: absolute;
    height: 100%;
    width: auto;
}

.Author-avatarPic {
    z-index: 2;
}

.Author-avatar--initials {
    font-size: 10px;
    font-weight: 600;
    line-height: 18px;
    letter-spacing: 1px;
    font-size: 9px;
    line-height: 24px;
    background: #49b882;
    color: #fff;
    text-align: center;
}

.Author-avatar--initials,
.Author-avatar--standalone.Author-avatar--initials {
    font-family: Sans, Helvetica Neue, Helvetica, Arial, sans-serif;
    text-transform: uppercase;
}

.Author-avatar--standalone.Author-avatar--initials {
    font-size: 12px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 2px;
    line-height: 48px;
}

.Author-avatar--initials span {
    margin-right: -2px;
}

a.Author-name {
    transition: color 0.12s;
}

a.Author-name:hover {
    color: #49b882;
}

.Author-details {
    display: inline-block;
}

.TwitterButton {
    color: #1da1f2;
    font-family: Sans, Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 12px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.TwitterButton svg {
    height: 10px;
    position: relative;
    top: 1px;
    margin-right: -3px;
}

.Category {
    background-color: #e4f7ed;
    color: #49b882;
    border-radius: 40px;
    display: inline-block;
    margin: 0 0 -3px;
    padding: 3px 12px 2px;
}

@media (max-width: 440px) {
    .Category {
        padding: 1px 8px 0;
        font-family: Sans, Helvetica Neue, Helvetica, Arial, sans-serif;
        font-size: 10px;
        font-weight: 600;
        line-height: 18px;
        letter-spacing: 1px;
        text-transform: uppercase;
    }
}

@media (min-width: 441px) and (max-width: 620px) {
    .Category {
        padding: 1px 8px 0;
        font-family: Sans, Helvetica Neue, Helvetica, Arial, sans-serif;
        font-size: 10px;
        font-weight: 600;
        line-height: 18px;
        letter-spacing: 1px;
        text-transform: uppercase;
    }
}

@media (min-width: 621px) and (max-width: 980px) {
    .Category {
        font-family: Sans, Helvetica Neue, Helvetica, Arial, sans-serif;
        font-size: 12px;
        font-weight: 500;
        line-height: 20px;
        letter-spacing: 2px;
        text-transform: uppercase;
    }
}

@media (min-width: 981px) {
    .Category {
        font-family: Sans, Helvetica Neue, Helvetica, Arial, sans-serif;
        font-size: 12px;
        font-weight: 500;
        line-height: 20px;
        letter-spacing: 2px;
        text-transform: uppercase;
    }
}

.Category--changelog,
.Category--product {
    background-color: #e4f7ed;
    color: #49b882;
}

.Category--changelog:active,
.Category--product:active {
    background-color: #e2f5eb;
}

.Category--engineering {
    background-color: #eaf3fb;
    color: #006cd1;
}

.Category--engineering:active {
    background-color: #e8f1f8;
}

.Category--company,
.Category--growth {
    background-color: #faeff5;
    color: #e365a6;
}

.Category--company:active,
.Category--growth:active {
    background-color: #f8edf3;
}

@media (max-width: 440px) {
    .Article {
        font-family: Sans, Helvetica Neue, Helvetica, Arial, sans-serif;
        font-size: 14px;
        font-weight: 400;
        line-height: 24px;
    }
}

.Article {
    padding-bottom: 80px;
}

.Article-bannerImage {
    margin: 32px auto 0;
}

@media (min-width: 621px) and (max-width: 980px) {
    .Article-bannerImage {
        margin-bottom: -24px;
    }
}

@media (min-width: 981px) {
    .Article-bannerImage {
        margin-bottom: -40px;
    }
}

.Article-bannerImage img {
    max-width: 100%;
    margin: 0 auto;
}

.Article-title {
    text-align: center;
    widows: 3;
}

@media (max-width: 440px) {
    .Article-title {
        font-family: Sans, Helvetica Neue, Helvetica, Arial, sans-serif;
        font-size: 22px;
        font-weight: 400;
        line-height: 31px;
        margin: 16px 0 8px;
    }
}

@media (min-width: 441px) and (max-width: 620px) {
    .Article-title {
        font-family: Sans, Helvetica Neue, Helvetica, Arial, sans-serif;
        font-size: 27px;
        font-weight: 400;
        line-height: 37px;
        margin: 16px 0;
    }
}

@media (min-width: 621px) and (max-width: 740px),
(min-width: 741px) and (max-width: 860px) {
    .Article-title {
        margin: 24px 0 16px;
        font-family: Sans, Helvetica Neue, Helvetica, Arial, sans-serif;
        font-size: 36px;
        font-weight: 400;
        line-height: 46px;
        letter-spacing: -0.2px;
    }
}

@media (min-width: 861px) and (max-width: 980px),
(min-width: 981px) {
    .Article-title {
        margin: 24px -65px 16px;
        font-family: Sans, Helvetica Neue, Helvetica, Arial, sans-serif;
        font-size: 40px;
        font-weight: 400;
        line-height: 48px;
        letter-spacing: -1.1px;
    }
}

@media (max-width: 440px) {
    .Article-header {
        margin: 24px 0 8px;
    }
}

@media (min-width: 441px) and (max-width: 620px) {
    .Article-header {
        font-family: Sans, Helvetica Neue, Helvetica, Arial, sans-serif;
        font-size: 27px;
        font-weight: 400;
        line-height: 37px;
        margin: 32px 0 16px;
    }
}

@media (min-width: 621px) and (max-width: 740px),
(min-width: 741px) and (max-width: 860px) {
    .Article-header {
        margin: 48px 0 16px;
    }
}

@media (min-width: 861px) and (max-width: 980px),
(min-width: 981px) {
    .Article-header {
        margin: 64px -65px 16px;
    }
}

.Article-categoryContainer {
    text-align: center;
}

.Article-author {
    -ms-flex-pack: center;
    justify-content: center;
}

@media (max-width: 440px) {
    .Article-author {
        margin: 8px 0 24px;
        font-family: Sans, Helvetica Neue, Helvetica, Arial, sans-serif;
        font-size: 14px;
        font-weight: 400;
        line-height: 24px;
    }
}

@media (min-width: 441px) and (max-width: 620px) {
    .Article-author {
        margin: 16px 0 24px;
    }
}

@media (min-width: 621px) and (max-width: 980px) {
    .Article-author {
        margin: 16px 0 32px;
    }
}

@media (min-width: 981px) {
    .Article-author {
        margin: 24px 0 40px;
    }
}

.Article-readMoreLink {
    display: inline-block;
    margin-top: 24px;
}

.Article-readMoreIcon {
    margin-left: 4px;
}

.Article-body {
    margin-bottom: 64px;
}

.Article-category {
    margin: 0 auto;
}

.Article-footer {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.ArticleInList {
    box-shadow: inset 0 -1px #dae4ed;
    position: relative;
}

@media (max-width: 440px) {
    .ArticleInList {
        margin-top: 32px;
        padding-bottom: 32px;
    }
}

@media (min-width: 441px) and (max-width: 620px) {
    .ArticleInList {
        margin-top: 48px;
        padding-bottom: 48px;
    }
}

@media (min-width: 621px) and (max-width: 980px) {
    .ArticleInList {
        margin-top: 64px;
        padding-bottom: 64px;
    }
}

@media (min-width: 981px) {
    .ArticleInList {
        margin-top: 64px;
        margin-left: -72px;
        margin-right: -72px;
        border-radius: 8px;
        box-shadow: inset 0 0 0 1px #dae4ed, 0 5px 15px -5px rgba(0, 0, 0, 0.1);
        padding: 72px;
        background: #fff;
    }
    .ArticleInList:first-child {
        margin-top: 64px;
    }
}

@media (max-width: 440px) {
    .ArticleInList-title {
        margin: 8px 0;
        font-family: Sans, Helvetica Neue, Helvetica, Arial, sans-serif;
        font-size: 22px;
        font-weight: 400;
        line-height: 31px;
    }
}

@media (min-width: 441px) and (max-width: 620px) {
    .ArticleInList-title {
        margin: 16px 0;
        font-family: Sans, Helvetica Neue, Helvetica, Arial, sans-serif;
        font-size: 27px;
        font-weight: 400;
        line-height: 37px;
    }
}

@media (min-width: 621px) and (max-width: 980px) {
    .ArticleInList-title {
        margin: 16px 0;
        font-family: Sans, Helvetica Neue, Helvetica, Arial, sans-serif;
        font-size: 36px;
        font-weight: 400;
        line-height: 46px;
        letter-spacing: -0.2px;
    }
}

@media (min-width: 981px) {
    .ArticleInList-title {
        margin: 16px 0;
        font-family: Sans, Helvetica Neue, Helvetica, Arial, sans-serif;
        font-size: 36px;
        font-weight: 400;
        line-height: 46px;
        letter-spacing: -0.2px;
    }
}

.ArticleInList-title:hover {
    color: #475e72;
}

.ArticleInList-title:active {
    color: #6e8090;
}

@media (max-width: 440px) {
    .ArticleInList-author {
        font-family: Sans, Helvetica Neue, Helvetica, Arial, sans-serif;
        font-size: 14px;
        font-weight: 400;
        line-height: 24px;
        margin-bottom: 16px;
    }
}

@media (min-width: 441px) and (max-width: 620px) {
    .ArticleInList-author {
        margin-bottom: 16px;
    }
}

@media (min-width: 621px) and (max-width: 980px) {
    .ArticleInList-author {
        margin-bottom: 24px;
    }
}

@media (min-width: 981px) {
    .ArticleInList-author {
        margin-bottom: 24px;
    }
}

@media (max-width: 440px) {
    .ArticleInList-teaser {
        font-family: Sans, Helvetica Neue, Helvetica, Arial, sans-serif;
        font-size: 14px;
        font-weight: 400;
        line-height: 24px;
    }
}

.ArticleInList-readMoreLink {
    display: inline-block;
    margin-top: 24px;
}

.ArticleInList-readMoreIcon {
    margin-left: 4px;
}

@media (min-width: 981px) {
    .Articles-list {
        padding-bottom: 4em;
    }
}

.Articles-listBack {
    margin-top: 80px;
}

.Pagination {
    display: -ms-inline-flexbox;
    display: inline-flex;
    -ms-flex-direction: column;
    flex-direction: column;
    height: 120px;
}

@media (min-width: 621px) and (max-width: 980px),
(min-width: 981px) {
    .Pagination {
        height: 100px;
        margin-top: 2em;
    }
}

.thick-line {
    position: relative;
}

.thick-line:after {
    content: "";
    display: block;
    height: 2px;
    background: #d8e3ed;
    position: absolute;
    left: 0;
    right: 0;
}

@media (min-width: 981px) {
    .thick-line:after {
        left: -80px;
        right: -80px;
    }
}

@media (min-width: 981px) {
    .thick-line.thick-line--hide-on-desk:after {
        display: none;
    }
}

.thick-line--top {
    top: -1px;
}

.thick-line--bottom:after {
    bottom: 0;
}

.Pagination-newer,
.Pagination-older {
    color: #49b882;
}

.Pagination-older {
    float: left;
}

.Pagination-newer {
    float: right;
}

.Link--primary {
    position: relative;
    color: #49b882;
}

.Link--primary.Link--animatedHover:after {
    position: absolute;
    content: "";
    display: block;
    width: 0;
    height: 2px;
    background: #49b882;
    transition: all 0.3s;
}

.Link--primary.Link--animatedHover:hover:after {
    width: 100%;
}

.Link--muted,
.Link--twitter {
    transition: color 0.16s;
}

.Link--twitter {
    color: #1da1f2;
}

.Link--twitter:hover {
    color: #0c84cf;
}

.Link--twitter:active {
    color: #126497;
}

.Link--twitter svg {
    position: relative;
    top: 3px;
    margin-left: 4px;
}

.Link--muted {
    color: #8fa1b3;
}

.Link--muted .icon-back-arrow {
    position: relative;
    top: 1px;
    margin-right: 4px;
}

.Link--muted:hover {
    color: #3d556b;
}

.Link--muted:active {
    color: #193652;
}

.Footer {
    background-color: #fff;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    padding-top: 64px;
    border-top-color: #dae4ed;
    border-top-width: 1px;
    border-top-style: solid;
    position: relative;
    z-index: 1;
}

@media (max-width: 440px) {
    .Footer {
        padding-top: 16px;
    }
}

.Footer-background-image-container {
    opacity: 0.3;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    z-index: -1;
}

.Footer-background-image {
    height: 100%;
    width: 100%;
    max-width: 1120px;
    background-image: url(/blog/static/dots.svg);
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: bottom;
    background-size: 100%;
}

@media (max-width: 440px),
(min-width: 441px) and (max-width: 620px) {
    .Footer-background-image {
        background-size: 150%;
    }
}

.Footer-container {
    max-width: 980px;
    width: 100%;
    box-sizing: border-box;
    padding-left: 16px;
    padding-right: 16px;
}

.Footer-header {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding-bottom: 32px;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

@media (max-width: 440px) {
    .Footer-header {
        -ms-flex-align: center;
        align-items: center;
        -ms-flex-direction: column;
        flex-direction: column;
    }
}

.Footer-header-logo {
    height: 24px;
    padding-bottom: 24px;
    padding-right: 24px;
}

.Footer-search-container {
    min-width: 280px;
}

@media (max-width: 440px) {
    .Footer-search-container {
        width: 100%;
    }
}

.Footer-form {
    display: -ms-flexbox;
    display: flex;
}

@media (max-width: 440px) {
    .Footer-form {
        -ms-flex-direction: column;
        flex-direction: column;
    }
}

.Footer-email-input {
    border-color: #dae4ed;
    box-sizing: border-box;
    padding: 8px 16px;
    border: 1px solid #45ba82;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    height: 40px;
    font-size: 15px;
}

@media (max-width: 440px) {
    .Footer-email-input {
        -ms-flex-direction: column;
        flex-direction: column;
        border-radius: 0;
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
    }
}

.Footer-email-button {
    display: -ms-flexbox;
    display: flex;
    font-weight: 500;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    font-weight: 700;
    height: 40px;
    border-color: #45ba82;
    padding-left: 16px;
    padding-right: 16px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    background-color: #45ba82;
    color: #fafbfc;
    font-size: 12px;
}

@media (max-width: 440px) {
    .Footer-email-button {
        -ms-flex-direction: column;
        flex-direction: column;
        border-radius: 0;
        border-bottom-left-radius: 4px;
        border-bottom-right-radius: 4px;
    }
}

.Footer-specialist {
    font-family: Sans, Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    color: #49b882;
    -ms-flex: 1;
    flex: 1;
    text-decoration: underline;
    padding-top: 80px;
    display: -ms-flexbox;
    display: flex;
    padding-top: 1em;
    text-decoration: none;
}

@media (max-width: 440px) {
    .Footer-specialist {
        -ms-flex-pack: center;
        justify-content: center;
    }
}

.Footer-body {
    -ms-flex-pack: start;
    justify-content: flex-start;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding-bottom: 16px;
}

.Footer-body,
.Footer-body-col {
    display: -ms-flexbox;
    display: flex;
}

.Footer-body-col {
    min-width: 150px;
    width: 20%;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-bottom: 32px;
}

.Footer-body-title {
    font-size: 18px;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: -0.02px;
    color: #8fa1b3;
    padding-bottom: 16px;
}

.Footer-body-links,
.Footer-body-title {
    font-family: Sans, Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
}

.Footer-body-links {
    font-weight: 400;
    line-height: 24px;
    color: #3d556b;
    padding-bottom: 8px;
}

.Footer-footer {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding-bottom: 64px;
}

@media (max-width: 440px) {
    .Footer-footer {
        padding-bottom: 0;
        -ms-flex-direction: column;
        flex-direction: column;
    }
}

.Footer-footer-wrapper {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.Footer-copy {
    font-family: Sans, Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    padding-bottom: 16px;
}

.Footer-social-container {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: stretch;
    justify-content: stretch;
    padding-bottom: 16px;
}

.Footer-social {
    font-family: Sans, Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    margin-right: 16px;
}

@media (max-width: 440px) {
    .Footer-social {
        -ms-flex-direction: column;
        flex-direction: column;
    }
}

.Footer-privacy-terms {
    font-family: Sans, Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    color: #49b882;
}

.Footer-privacy-terms .privacy,
.Footer-privacy-terms .terms {
    margin-right: 16px;
}

.Tag {
    font-family: Sans, Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 10px;
    font-weight: 600;
    line-height: 18px;
    letter-spacing: 1px;
    text-transform: uppercase;
    padding: 2px 6px;
    position: relative;
    top: -2px;
    border-radius: 3px;
    color: #8fa1b3;
}

.Tag--new,
.Tag--primary {
    background-color: #e4f7ed;
    color: #49b882;
}

.Tag--blue,
.Tag--update {
    background-color: #eaf3fb;
    color: #006cd1;
}

@keyframes swing-in-top-fwd {
    to {
        transform: rotateX(0deg);
        transform-origin: top;
        opacity: 1;
    }
}

@keyframes fade-in-bottom {
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.swing-in-top-fwd {
    animation: swing-in-top-fwd 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275) both;
}

.fade-in {
    animation: fade-in-bottom 0.3s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

.is-client .fade-in {
    transform: translateY(16px) scale(0.99);
    transform-origin: 50% 0;
    opacity: 0;
}

.muted-text {
    color: #8fa1b3;
}

.clearfix:after,
.clearfix:before {
    content: "";
    display: table;
    clear: both;
}

.bg-tint {
    background-color: #fafbfc;
}

.display3 {
    font-family: Sans, Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 27px;
    font-weight: 400;
    line-height: 37px;
}

.margin-vertical-3 {
    margin-top: 48px;
    margin-bottom: 48px;
}

@media (max-width: 440px),
(min-width: 441px) and (max-width: 620px) {
    .hide-on-mobile {
        display: none;
    }
}

.Content {
    -webkit-font-smoothing: antialiased;
}

.Content--contained {
    font-family: Sans, Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
}

.Content p {
    margin-bottom: 16px;
}

.Content p:last-child {
    margin-bottom: 0;
}

.Content h1,
.Content h2,
.Content h3,
.Content h4,
.Content h5 {
    font-family: Sans, Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: -0.2px;
    margin-top: 2em;
    text-rendering: optimizeLegibility;
}

@media (max-width: 440px) {
    .Content h1,
    .Content h2 {
        font-family: Sans, Helvetica Neue, Helvetica, Arial, sans-serif;
        font-size: 22px;
        font-weight: 400;
        line-height: 31px;
        margin-bottom: 8px;
        margin-top: 1.5em;
    }
}

@media (min-width: 441px) and (max-width: 620px) {
    .Content h1,
    .Content h2 {
        font-family: Sans, Helvetica Neue, Helvetica, Arial, sans-serif;
        font-size: 27px;
        font-weight: 400;
        line-height: 37px;
        margin-bottom: 16px;
        margin-top: 2em;
    }
}

@media (min-width: 621px) and (max-width: 740px),
(min-width: 741px) and (max-width: 860px) {
    .Content h1,
    .Content h2 {
        font-family: Sans, Helvetica Neue, Helvetica, Arial, sans-serif;
        font-size: 27px;
        line-height: 37px;
        margin-bottom: 16px;
    }
}

@media (min-width: 861px) and (max-width: 980px),
(min-width: 981px) {
    .Content h1,
    .Content h2 {
        font-family: Sans, Helvetica Neue, Helvetica, Arial, sans-serif;
        font-size: 27px;
        line-height: 37px;
        margin-bottom: 16px;
    }
}

@media (max-width: 440px) {
    .Content h3 {
        font-family: Sans, Helvetica Neue, Helvetica, Arial, sans-serif;
        font-size: 22px;
        line-height: 31px;
        margin-bottom: 8px;
        margin-top: 1.5em;
    }
}

@media (min-width: 441px) and (max-width: 620px) {
    .Content h3 {
        font-family: Sans, Helvetica Neue, Helvetica, Arial, sans-serif;
        font-size: 22px;
        line-height: 31px;
        margin-bottom: 16px;
        margin-top: 2em;
    }
}

@media (min-width: 621px) and (max-width: 740px),
(min-width: 741px) and (max-width: 860px) {
    .Content h3 {
        font-family: Sans, Helvetica Neue, Helvetica, Arial, sans-serif;
        font-size: 22px;
        line-height: 31px;
        margin-bottom: 16px;
    }
}

@media (min-width: 861px) and (max-width: 980px),
(min-width: 981px) {
    .Content h3 {
        font-family: Sans, Helvetica Neue, Helvetica, Arial, sans-serif;
        font-size: 22px;
        line-height: 31px;
        margin-bottom: 16px;
    }
}

.Content h4 {
    font-weight: 500;
    margin-bottom: 0;
    position: relative;
    /* margin-top: 16px; */
    margin-bottom: 4px;
}

.Content strong {
    color: #193652;
    font-weight: 500;
}

.Content a {
    border-bottom: 1px solid rgba(61, 85, 107, 0.3);
    color: inherit;
    transition: all 0.16s ease-in-out;
}

.Content a:hover {
    color: #49b882;
    border-color: #49b882;
}

.Content pre {
    background: #fff;
    border: 1px solid #dae4ed;
    box-shadow: 0 2px 6px 0 #eff5fa;
    border-radius: 8px;
}

@media (max-width: 440px),
(min-width: 441px) and (max-width: 620px) {
    .Content pre {
        padding: 8px;
        font-size: 12px;
        margin-bottom: 8px;
        margin: 32px 0px;
    }
}

@media (min-width: 621px) and (max-width: 980px) {
    .Content pre {
        padding: 32px;
        margin: 32px 0px;
    }
}

@media (min-width: 981px) {
    .Content pre {
        padding: 32px;
        margin: 32px -65px;
    }
}

.Content code,
.Content pre {
    -webkit-font-smoothing: auto;
    font-family: consolas, sf mono, Monaco, Lucida Console, monospace;
    border-radius: 5px;
    overflow: scroll;
}

.Content p>code,
.Content li>code,
.Content h1>code,
.Content h2>code,
.Content h3>code,
.Content h4>code,
.Content h5>code,
.Content h6>code {
    background-color: #f1fbfc;
    border-radius: 2px;
    font-size: 95%;
    color: #007489;
    padding: 2px 4px;
}

.Content pre {
    background: none;
    font-weight: 400;
    background-color: rgb(30, 57, 82);
    color: white;
    font-size: 14px;
    text-align: left;
    white-space: pre;
    word-spacing: normal;
    word-break: normal;
    word-wrap: normal;
    -moz-tab-size: 2;
    -o-tab-size: 2;
    tab-size: 2;
    -webkit-hyphens: none;
    -ms-hyphens: none;
    hyphens: none;
    overflow: auto;
}

@media (max-width: 440px),
(min-width: 441px) and (max-width: 620px) {
    .Content pre {
        font-size: 11px;
        font-weight: 400;
        line-height: 1.8;
    }
}

@media (min-width: 621px) and (max-width: 980px),
(min-width: 981px) {
    .Content pre {
        font-size: 13px;
        font-weight: 400;
        line-height: 1.8;
    }
}

.Content pre code {
    padding: 0;
}

.Content code {
    padding: 2px 4px;
}

.Content ul {
    list-style: disc;
    margin: 24px 0;
}

.Content ul>li>p+ul {
    margin-top: -0.5em;
}

.Content ul>li>ul {
    margin-top: 0;
}

.Content ol {
    list-style: decimal;
    margin-bottom: 21px;
}

.Content li {
    -webkit-font-smoothing: antialiased;
    margin-left: 23px;
    margin-bottom: 8px;
}

.Content li:last-child {
    margin-bottom: 0;
}

.Content blockquote {
    border-left: 2px solid #dae4ed;
    padding-left: 1.5rem;
    margin: 6vh 0;
}

.Content cite {
    display: block;
    font-size: 16px;
    margin: 0 0 4rem 1rem;
    text-align: right;
}

.Content cite:before {
    content: "\2014   ";
    margin-left: -1em;
}

.Content hr {
    background-color: #dae4ed;
    border: 0;
    height: 1px;
    margin: 8vh auto;
    width: 35%;
}

.Content img {
    max-width: 100%;
    border: 1px solid #dae4ed;
    display: block;
    margin: 40px 0;
}

.Content figure {
    margin: 40px 0;
}

.Content figure>figcaption {
    text-align: center;
    margin-top: 1.2em;
    font-weight: 500;
}

.Content figure>img {
    margin: 0;
}

.Content figure div[data-slate="embed_block"] iframe {
    width: 100%;
}

.Content img {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

@media (max-width: 440px) {
    .Content img {
        font-family: Sans, Helvetica Neue, Helvetica, Arial, sans-serif;
        font-size: 14px;
        font-weight: 400;
        line-height: 24px;
    }
}

@media (min-width: 861px) and (max-width: 980px) {
    .Content img {
        max-width: calc(100% + 130px);
    }
}

@media (min-width: 981px) and (max-width: 1120px) {
    .Content img {
        max-width: calc(100% + 130px);
    }
}

@media (min-width: 1121px) and (max-width: 1260px),
(min-width: 1261px) and (max-width: 1400px),
(min-width: 1401px) {
    .Content img {
        max-width: calc(100% + 130px);
    }
}

.Content--contained img {
    max-width: 100%;
}

.Changelog {
    margin-bottom: 200px;
}

@media (max-width: 440px),
(min-width: 441px) and (max-width: 620px),
(min-width: 621px) and (max-width: 980px) {
    .Changelog {
        padding-top: 40px;
    }
}

@media (min-width: 981px) {
    .Changelog {
        padding-top: 40px;
    }
}

.ChangelogHeader {
    text-align: center;
    padding: 48px 0;
}

.ChangelogHeader-title {
    font-size: 27px;
    line-height: 37px;
    margin-bottom: 16px;
}

.ChangelogHeader-description,
.ChangelogHeader-title {
    font-family: Sans, Helvetica Neue, Helvetica, Arial, sans-serif;
    font-weight: 400;
}

.ChangelogHeader-description {
    font-size: 18px;
    line-height: 30px;
    letter-spacing: -0.2px;
}

.ChangelogEntry {
    background: #fff;
    border-bottom: 1px solid #dae4ed;
    transition: all 0.16s;
}

.ChangelogEntry:hover {
    background-color: #fafbfc;
}

.ChangelogEntry:active {
    background-color: #f9fafb;
}

.ChangelogEntry:after {
    content: "";
    display: table;
    clear: both;
}

.ChangelogEntry:last-child {
    border-bottom: none;
}

.ChangelogEntry-header {
    cursor: pointer;
    padding: 16px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
}

@media (max-width: 440px) {
    .ChangelogEntry-header {
        -ms-flex-direction: row-reverse;
        flex-direction: row-reverse;
        -ms-flex-align: start;
        align-items: flex-start;
        padding: 12px;
    }
}

.ChangelogEntry-tagContainer {
    width: 120px;
    padding-right: 16px;
    text-align: right;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@media (max-width: 440px) {
    .ChangelogEntry-tagContainer {
        padding-right: 0;
        padding-left: 12px;
        width: auto;
    }
}

.ChangelogEntry-titleGroup {
    -ms-flex: 1;
    flex: 1;
}

.ChangelogEntry-title {
    font-family: Sans, Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #3d556b;
}

@media (max-width: 440px) {
    .ChangelogEntry-title {
        font-family: Sans, Helvetica Neue, Helvetica, Arial, sans-serif;
        font-size: 14px;
        font-weight: 400;
        line-height: 24px;
    }
}

.ChangelogEntry-body {
    background: #fff;
    padding: 24px;
    border-top: 1px solid #dae4ed;
}

.ChangelogEntry-category {
    font-family: Sans, Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #8fa1b3;
}

.ChangelogEntry-link {
    width: 30px;
    text-align: center;
    border-radius: 2px;
    opacity: 0;
    transition: all 0.2s ease-out;
}

.ChangelogEntry-link:hover {
    opacity: 1;
    background-color: #eaf3fb;
}

.ChangelogEntry-link:active {
    opacity: 1;
    background-color: #dce7f1;
}

@media (max-width: 440px) {
    .ChangelogEntry-link {
        display: none;
    }
}

.ChangelogEntry-header:hover .ChangelogEntry-link {
    opacity: 1;
}

.ChangelogGroup {
    margin-bottom: 64px;
    box-shadow: 0 5px 15px -5px rgba(0, 0, 0, 0.1);
}

@media (max-width: 440px) {
    .ChangelogGroup {
        box-shadow: none;
        margin-left: -16px;
        margin-right: -16px;
    }
}

.ChangelogGroup-title {
    font-family: Sans, Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    margin-bottom: 16px;
}

.ChangelogGroup-entries {
    border-radius: 5px;
    border: 1px solid #dae4ed;
    overflow: hidden;
}

.Section-recent {
    border-bottom: 3px solid #47b881;
    font-style: italic;
    text-align: left;
    font-weight: 500;
    color: #3d556b;
}

.Bio-container {
    display: flex;
    justify-content: space-between;
}

.Bio-avatar {
    height: 5rem;
    border-radius: 50%;
}

.Bio-link {
    color: #006cd1;
}

.Bio-content {
    padding-left: 2rem;
}

.Bio-content-detail {
    padding-bottom: 1rem;
}

.Hero {
    font-size: 3.95285rem;
    line-height: 4.375rem;
    margin-bottom: 2.625rem;
    margin-top: 0px;
}

.language-text {
    color: white;
}